<h1 class="titulo center">Talks</h1>
<section @enterState>   
<div class="phone__content" *ngFor="let talk of talks">
        <section  class="card theme-{{talk.themeColor}}" >
            
     <section class="card__part card__part-1">
       <div class="card__part__inner">
         <header class="card__header">
           <div class="card__header__close-btn"></div>
           <span class="card__header__id">{{talk.Title}}</span>
           <span class="card__header__price">{{talk.day}}/{{talk.month}}/{{talk.year}}</span>
         </header>
         <div class="card__stats" >
           <div class="card__stats__item card__stats__item--weight">
             
             <p class="card__stats__type">{{talk.description}}</p>
             </div>
         </div>
       </div>
     </section>
     <section class="card__part card__part-2">
       <div class="card__part__side m--back">
         <div class="card__part__inner card__face">
           <div class="card__face__colored-side"></div>
           <h3 class="card__face__price">{{talk.day}}<br>{{talk.month}}</h3>
           <div class="card__face__divider"></div>
           
           <div class="card__face__from-to">
            {{talk.Title}} <br>
            
           </div>
           <div class="card__face__deliv-date">
             <i class="{{talk.skill}}" style="font-size:30px;"></i>
           </div>
           <div class="card__face__stats card__face__stats--req">
             {{talk.description | limitTo: 140}}
             
             
           </div>


         </div>
       </div>
       <div class="card__part__side m--front">
         <div class="card__sender">
           <h4 class="card__sender__heading">Expositor</h4>
           <div class="card__sender__img-cont">
             <div class="card__sender__img-cont__inner">
               <img [src]="talk.senderImg" class="card__sender__img" />
             </div>
           </div>
           <div class="card__sender__name-and-rating" >
             <p class="card__sender__name">{{talk.sender}}</p>
             <p class="card__sender__rating card__sender__rating-{{talk.rating}}" style="transform: translateY(-20px)">
               <span class="card__sender__rating__star">&#9733;</span>
               <span class="card__sender__rating__star">&#9733;</span>
               <span class="card__sender__rating__star">&#9733;</span>
               <span class="card__sender__rating__star">&#9733;</span>
               <span class="card__sender__rating__star">&#9733;</span>
               
             </p>
            
           </div>
           <div class="card__receiver">
             <div class="card__receiver__inner">
               <div class="card__sender__img-cont">
                 <div class="card__sender__img-cont__inner">
                   <img [src]="talk.senderImg" class="card__sender__img" />
                 </div>
               </div>
               <div class="card__sender__name-and-rating">
                 <p class="card__sender__name">{{talk.sender}}</p>
                 <p class="card__sender__address">
                   {{talk.toStreet}}, {{talk.toCity}}
                 </p>
               </div>
             </div>
           </div>
           <div class="card__path-big"></div>
         </div>
         <div class="card__from-to">
           <div class="card__from-to__inner" style="display: flex">
             <div class="card__text ">
               <h1 class="card__text__heading {{talk.videoUrl | exists}}"  style="" ><strong><i class="fab fa-youtube"></i> Video:</strong> <a href="{{talk.videoUrl}}" style="text-decoration:none;">{{talk.videoUrl}}</a></h1>                      
               <h1 class="card__text__heading {{talk.blogPostUrl | exists}}"  style="" ><strong><i class="fas fa-book"></i> Blog Post:</strong> <a href="{{talk.blogPostUrl}}" style="text-decoration:none;">{{talk.blogPostUrl}}</a></h1>                      
               
             </div>
             <div class="card__text ">
                 <h1 class="card__text__heading {{talk.repoUrl | exists}}"  style="" ><strong><i class="fab fa-github"></i> Repositorio:</strong> <a href="{{talk.repoUrl}}" style="text-decoration:none;">{{talk.repoUrl}}</a></h1>                      
                 <h1 class="card__text__heading {{talk.testLiveUrl | exists}}"  style="" ><strong><i class="fas fa-play"></i> Demo:</strong> <a href="{{talk.testLiveUrl}}" style="text-decoration:none;">{{talk.testLiveUrl}}</a></h1>                      
                 
               </div>
             
           </div>
         </div>
         <section class="card__part card__part-3">
           <div class="card__part__side m--back"></div>
           <div class="card__part__side m--front">
             <div class="card__timings" >
               <div class="card__timings__inner card__text--inner_flex">
                 <div class="card__text {{talk.place | exists}}">
                   <p class="card__text__heading">Lugar</p>
                   <p class="card__text__middle">{{talk.place}}</p>
                 </div>
                 <div class="card__text {{talk.org | exists}}">
                   <p class="card__text__heading">Organización</p>
                   <p class="card__text__middle">{{talk.org}}</p>
                 </div>
                 <div class="card__text {{talk.sponsor | exists}}">
                     <p class="card__text__heading">Sponsor</p>
                     <p class="card__text__middle">{{talk.sponsor}}</p>
                   </div>
                   
               </div>
             </div>
           
             
             <section class="card__part card__part-4">
               <div class="card__part__side m--back"></div>
               <div class="card__part__side m--front" style="height: 50px;">
                 <a [attr.href]="talk.linkPresentacion" style="text-decoration: none;"> 
                     <button type="button" class="card__request-btn" >
                         <span class="card__request-btn__text-1" >Presentación</span>
                      </button>
                 </a> 
                 </div>
             </section>
           </div>
         </section>
       </div>
     </section>
</section>
    </div>
</section> 