

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->


<!-- Prepare a container for your calendar. -->
<div class="calendar">
  <!-- Loading stuff -->
  <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
    <circle id="loading-inner" cx="75" cy="75" r="60"/>
 </svg>
</div>
<style>
    /*Github Calendar*/
.calendar ::ng-deep {
    width: 60%;
    font-family: Helvetica, arial;
    padding-top: 20px;
    background: #30373e;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.calendar-graph text.wday ::ng-deep,
.calendar-graph text.month::ng-deep {
    font-size: 10px;
    fill: #00796B;
}

.contrib-legend::ng-deep {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend ::ng-deep{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li ::ng-deep{
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small ::ng-deep{
    font-size: 12px;
    color: #cdcdcd;
}

.calendar-graph ::ng-deep{
    padding: 5px 0 0;
    height: 126px;
    text-align: center;
}

.contrib-column ::ng-deep{
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #232323;
    border-top: 1px solid #232323;
    font-size: 11px;
}


.contrib-column-first ::ng-deep{
    border-left: 0;
}

.table-column ::ng-deep{
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number ::ng-deep{
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #00796B;
}

.calendar img.spinner ::ng-deep{
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace ::ng-deep{
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a ::ng-deep{
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer ::ng-deep{
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
    display: flex;
    justify-content: space-around;
}

.left.text-muted ::ng-deep{
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a ::ng-deep{
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover::ng-deep,
.monospace a:hover ::ng-deep{
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 ::ng-deep{
    display: none;
}

.float-left.text-gray ::ng-deep{
    float: left;
}
div.float-left a ::ng-deep{
    color: #00796B;
}
/*Loader*/
#load ::ng-deep{
    width: 100px;
    animation: loading 3s linear infinite;
  }
  #load #loading-inner ::ng-deep{
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: loading-circle 2s linear infinite;
    stroke: #00796B;
    fill: transparent;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading-circle {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -600;
    }
  }
  
</style>


<script>
  
</script>