<main @enterState>
    <div class="cotenedor">
      <div class="texto">
        <h1 class="center titulo">
          <p style="text-align:center; line-height:1.4; font-weight:300;">
          Hi I am<strong class="middle-green-font">Camilo Salinas</strong>,<br>
            and I am <span id="typed"></span> <br>
            that lives in <strong class="middle-green-font">Colombia</strong>.
          </p>
        </h1>
      </div>
      <div class="links" >
          <a href="https://github.com/Rembrandtsx" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.facebook.com/Rembrandtsx" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/Rembrandtsx" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/rembrandtsx" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/rembrandtsx/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://ggitapps.com/" target="_blank"><i class="fas fa-globe"></i></a>
      </div>

    </div>




</main>
